:root {
    --primary-color: #1D4ED8;
    --primary-light: aliceblue;
}

body {
    background-color: var(--primary-light);
    margin: 2rem auto;
    width: 70%;
    text-align: center;
}

.heading h1 {
    color: var(--primary-color);
}