@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #1D4ED8;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

hr {
    margin: 2rem 0rem;
}

.container {
    padding: 0rem 2rem;
}

.container-center {
    max-width: 500px;
    margin: auto;
}

.link {
    text-decoration: none;
    color: black;
}

.link-active {
    font-weight: bold;
}

.button {
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    padding: 1rem;
    font-weight: bold;
}

.button-primary {
    background-color: var(--primary-color);
    color: white;
}

#links-title {
    margin-bottom: 3rem;
}

p.info {
    margin-top: 3rem;
}

.list-no-bullets {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 2rem;
}

.nav {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border-bottom-left-radius: 3rem;
}

.nav .brand {
    padding: 0.5rem;
}

.nav ul {
    text-align: right;
}

.nav .link {
    color: white;
}

.header .header-img {
    margin: 0 5rem;
}

.header .header-text {
    text-align: center;
}

.header .header-text-inverted {
    color: var(--primary-color);
}

.section {
    padding: 2rem;
    margin: 1rem auto;
    text-align: center;
    font-weight: bold;
    max-width: 500px;
}

.section-gray {
    background-color: gray;
    color: white;
}

.footer {
    background-color: var(--primary-color);
    border-top-right-radius: 3rem;
    color: white;
    padding: 2rem;
    text-align: center;
}

.footer .link {
    color: white;
}